<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h1>Blockchain Statistics</h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Wallet &amp; Node</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/network">Network</a>
                        <li class="nav-item">
                            <a class="nav-link active" href="/statistics">Statistics</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div v-if="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" :class="{active: view === 'Block Rate'}" href="#" @click="view = 'rate'">Block Rate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{active: view === 'Average Time'}" href="#" @click="view = 'time'">Average Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{active: view === 'Difficulty'}" href="#" @click="view = 'Difficulty'">Difficulty</a>
                    </li>
                </ul>
            <!-- <div v-if="!stats" class="row ">
                <div class="col">
                    <div class="alert alert-warning">Click Load to Import BlockChain Data!</div>
                </div>
            </div> 
            
                <div class="row mb-2">
                <div class="col">
                    <div v-if="!statsLoading">
                        <button class="btn btn-primary" @click="onLoadStats">
                            Load Statistics
                        </button>
                    </div>


                    <div v-if="statsLoading" class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12">
                    <div v-if="view === 'Block Rate'" class="card-header"></div>
                        <div class="card">
                            <canvas id="canvas1"></canvas>
                        </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: view === 'chain'}" href="#" @click="view = 'chain'">Blockchain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :class="{active: view === 'tx'}" href="#" @click="view = 'tx'">Open Transactions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <button class="btn btn-primary" @click="onLoadData">{{ view === 'chain' ? 'Load Blockchain' : 'Load Transactions' }}</button>
                    <!-- <button v-if="view === 'chain' && wallet" class="btn btn-success" @click="onMine">Mine Coins</button> -->
                    <button class="btn btn-warning" @click="onResolve">Resolve Conflicts</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div v-if="dataLoading" class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div v-if="!dataLoading" class="accordion">
                        <div class="card" v-for="(data, index) in loadedData">
                            <div v-if="view === 'chain'" class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" @click="showElement === index ? showElement = null : showElement = index">
                                        Block #{{ data.index }}
                                    </button>
                                </h5>
                            </div>
                            <div v-if="view === 'chain'" class="collapse" :class="{show: showElement === index}">
                                <div class="card-body">
                                    <p>Time Stamp :   {{ data.timestamp }}</p>
                                    <p>Previous Hash: {{ data.previous_hash }}</p>
                                    <div class="list-group">
                                        <div v-for="tx in data.transactions" class="list-group-item flex-column align-items-start">
                                            <div>Sender: {{ tx.sender }}</div>
                                            <div>Recipient: {{ tx.recipient }}</div>
                                            <div>Amount: {{ tx.amount }}</div>
                                        </div>
                                    </div>
                                    <p>Proof :  {{ data.proof }}</p>
                                    <p>Bits  :  {{ data.bits  }}</p>
                                    <!-- <p>Difficulty :   {{ difficulty }}</p> -->
                                </div>
                            </div>

                            <div v-if="view === 'tx'" class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" @click="showElement === index ? showElement = null : showElement = index">
                                        Transaction #{{ index }}
                                    </button>
                                </h5>
                            </div>
                            <div v-if="view === 'tx'" class="collapse" :class="{show: showElement === index}">
                                <div class="card-body">
                                    <div class="list-group">
                                        <div class="list-group-item flex-column align-items-start">
                                            <div>Sender: {{ data.sender }}</div>
                                            <div>Recipient: {{ data.recipient }}</div>
                                            <div>Amount: {{ data.amount }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                blockchain: [],
                openTransactions: [],
                stats: null,
                view: 'chain',
                statsLoading: false,
                txLoading: false,
                dataLoading: false,
                showElement: null,
                error: null,
                success: null,

            },

            computed: {
                loadedData: function () {
                    if (this.view === 'chain') {
                        return this.blockchain;
                    } else {
                        return this.openTransactions;
                    }
                }
            },

            methods: {
            //     onCreateWallet: function () {
            //         // Send Http request to create a new wallet (and return keys)
            //         var vm = this;
            //         this.statsLoading = true
            //         axios.post('/wallet')
            //             .then(function (response) {
            //                 vm.error = null;
            //                 vm.success = 'Created Wallet! Public Key: ' + response.data.public_key + ', Private Key: ' + response.data.private_key;

            //                 vm.statsLoading = false
            //             })
            //             .catch(function (error) {
            //                 vm.success = null;
            //                 vm.error = error.response.data.message
            //                 vm.wallet = null
            //                 vm.statsLoading = false
            //             });
            //     },
               
                // onMine: function () {
                //     var vm = this
                //     axios.post('/mine')
                //         .then(function(response) {
                //             vm.error = null;
                //             vm.success = response.data.message;
                //             console.log(response.data);
                //             vm.funds = response.data.funds;
                //         })
                //         .catch(function (error) {
                //             vm.success = null;
                //             vm.error = error.response.data.message;
                //         });
                // },
                onResolve: function() {
                    var vm = this
                    axios.post('/resolve-conflicts')
                        .then(function(response) {
                            vm.error = null;
                            vm.success = response.data.message;
                        })
                        .catch(function (error) {
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                },

                onLoadData: function () {
                    if (this.view === 'chain') {
                        // Load blockchain data
                        var vm = this
                        this.dataLoading = true
                        axios.get('/chain')
                            .then(function (response) {
                                vm.blockchain = response.data
                                vm.dataLoading = false
                            })
                            .catch(function (error) {
                                vm.dataLoading = false
                                vm.error = 'Something went wrong.'
                            });
                    } else {
                        // Load transaction data
                        var vm = this
                        axios.get('/transactions')
                            .then(function (response) {
                                vm.openTransactions = response.data
                                vm.dataLoading = false
                            })
                            .catch(function (error) {
                                vm.dataLoading = false
                                vm.error = 'Something went wrong.'
                            });
                    }
                },
            }
        });

        $(document).ready(function () {
            // var vm = this;
            // this.statsLoading = true
            //     // axios.post('/stats')
            //     //     .then(function (response) {
            //         vm.error = null;
            //         vm.success = 'Graph Successfully Loaded ';
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Blocks Mined',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Blocks Mined Over Time'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Blocks'
                            },
                        
                            ticks: {
                                stepSize: 1
                            }
                        
                        }]
                    }
                }
            };
            const context = document.getElementById('canvas1').getContext('2d');
            const lineChart = new Chart(context, config);
            const source = new EventSource("/chart-data");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if (config.data.labels.length === 100) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                }
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.value);
                lineChart.update();
            }
            // })
            // .catch(function (error) {
            //     vm.success = null;
            //     vm.error = error.response.data.message;
            //     vm.stats = null;
            //     vm.statsLoading = false;
            // });
        });

    </script>
</body>

</html>